/* Percentage and Progress Bar */
.percentage {
    font-size: 0.8em;
    color: #4CAF50;
}

.progress-bar {
    background-color: lightgray;
    border-radius: 5px;
    height: 6px;
    width: 100%;
    position: relative;
}

.progress {
    background-color: #4c90af;
    height: 100%;
    border-radius: 5px;
}




.widget-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
}

.widget {
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
    padding: 15px;
    width: 100%; /* Full width for mobile */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.widget-top {
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 0;
    width: 100%; /* Full width for mobile */
    height: 420px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.widget-total-top{
        background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 0;
    width: 100%; /* Full width for mobile */
    height: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}



.widget:hover {
    background-color: #eeeeee;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .widget {
        width: 100%;
    }
}
/* Header with Icon */
.widget-header {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Center the text and icon */
    margin-bottom: 10px;
    position: relative; /* Allows precise positioning of the icon */
}
.widget-header-fund{
    display: flex;
    align-items: center; /* Align items vertically */
    text-align: left;
    margin-bottom: 10px;
    position: relative; /* Allows precise positioning of the icon */
}
.widget-header h3 {
    font-size: 18px;
    margin: 0;
}

.widget-icon img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
}
.widget-body{
    margin-bottom: 5px;
    display: flex;              /* Enable Flexbox for horizontal alignment */
    justify-content: space-between; /* Align items to the left (default), change to center or right if needed */
    width: auto;                /* Adjust width as needed */
    overflow-x: auto;
}
.widget-rowline {
    text-align: left; /* Center text within each item */
}
.widget-rowline strong {
    font-size: 16px;
    color: dimgrey;
}
.widget-rowline strong.text-red {
    color: red !important; /* Add !important if absolutely necessary */
}

.widget-rowline strong.text-green {
    color: green !important; /* Add !important if absolutely necessary */
}


.widget strong fas fa-arrow-down.text-red {
    color: red;
}

.i fas fa-arrow-down.text-green {
    color: green;
}
.widget p.text-red {
    color: red;
}

.widget p.text-green {
    color: green;
}
.widget p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}
.text-red {
    color: red;
}

.text-green {
    color: green;
}