<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VakıfBank Mobil</title>
    <link rel="stylesheet" href="../static/portfolio.css">
    <link rel="stylesheet" href="/static/widget.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="back-button"><a style="text-decoration: none" href="/login">&larr;</a></div>
            <h1>Portföyüm</h1>
            <div class="calendar-icon"></div>
        </header>

        <nav class="tabs">
            <div class="tab active">DETAY</div>
            <div class="tab">İŞLEMLER</div>
        </nav>

        <section class="portfolio-details">
            <div class="portfolio-details-header">
                <h2>Yatırım Hesabım</h2>
            </div>
            <div class="widget-total-top">
                <p class="account-number">{{ accNum }}</p>
                <div class="total-portfolio">
                    <h3>{{ "{:,.2f}".format(investment_sums['current_total']) }} TL</h3>
                    <p style="margin-top: 5px;">Ana Para: <strong>{{ "{:,.2f}".format(investment_sums['buy_total']) }} TL</strong></p>
                    <p class="change" style="margin-top: 5px;"><i class="{{ 'fas fa-arrow-down !important' if stockTotalValues[2]|float < 0 else 'fas fa-arrow-up' }}"></i> {{ investment_sums['change_ratio'] }}%</p>
                </div>
                <div class="card-body">
                    {{ pieChart3|safe }}
                </div>

            </div>

            <section class="dashboard-container">
                <div class="dashboard-container-header">
                    <h2>Hisse Senedi</h2>
                </div>
                <div class="widget-top">
                    <div class="total-portfolio">
                        <h3>{{ "{:,.2f}".format(stockTotalValues[1]) }} TL</h3>
                        <p style="margin-top: 5px;">Ana Para: <strong>{{  "{:,.2f}".format(stockTotalValues[0]) }} TL</strong></p>
                        <p class="change" style="margin-top: 5px;"><i class="{{ 'fas fa-arrow-down !important' if stockTotalValues[2]|float < 0 else 'fas fa-arrow-up' }}"></i> {{ stockTotalValues[2] }}%</p>
                    </div>
                    <div class="card-body">
                        {{ pieChart|safe }}
                    </div>
                </div>
                <div id="stock_table"></div>
                <div class="dashboard-container-header">
                        <h2>Kar Aralığı</h2>
                </div>
                <div class="widget">
                        <div>
                            <nav class="tabs">
                                <div id="home" class="tab">        <a href="/home#stock_table">Toplam</a></div>
                                <div id="1" class="tab">        <a href="/home/1#stock_table">Bugün</a></div>
                                <div id="7" class="tab">        <a href="/home/7#stock_table">1 Hafta</a></div>
                                <div id="30" class="tab">       <a href="/home/30#stock_table">1 Ay</a></div>
                                <div id="365" class="tab">      <a href="/home/365#stock_table">1 Yıl</a></div>
                            </nav>
                        </div>
                </div>

                <!-- Hisse Tablosu-->
                {% if table_data %}
                <div  class="widget-container">
                    {% for row in table_data %}
                    <a href="/info/{{ row['stock_name'] }}"  style="text-decoration: none; color: inherit;">
                        <div class="widget">
                            <div class="widget-header">
                                <div style="display: flex; align-items: center;">
                                    <div class="widget-icon">
                                        <img src="https://www.hangikredi.com/_next/image?url=https%3A%2F%2Fcdn.hangikredi.com%2Fsymbols%2F{{ row['stock_name'] | lower }}.png&w=2048&q=75">
                                    </div>
                                    <h3>{{ row['stock_name'] }}</h3>
                                </div>
                                <h3>{{ "{:,.2f}".format(row['total']) }} TL</h3>
                            </div>
                            <div class="widget-body">
                                <div class="widget-rowline">
                                    <p style="font-weight: bold; color: #4c90af; left: 0">
                                        {{ "{:,.2f}".format(((row['total']/stockTotalValues[1])*100)|round(2)) }}%
                                    </p>
                                </div>
                                <div class="widget-rowline">
                                    <p class="{{ 'text-red' if row['ratio']|float < 0 else 'text-green' }}">
                                        <strong  class="{{ 'text-red' if row['ratio']|float < 0 else 'text-green' }}"><i class="{{ 'fas fa-arrow-down !important' if row['ratio']|float < 0 else 'fas fa-arrow-up' }}"></i> {{ row['ratio'] }}%</strong> ({{ "{:,.2f}".format(row['profit']|float) }} TL)
                                    </p>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="progress-bar">
                                    <div class="progress" style="width: {{(((row['curr_price']|float * row['quantity']|float)/stockTotalValues[1])*100)|round(2)}}%;"></div>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-rowline">
                                    <p>Satılabilir Adet</p>
                                    <strong>{{ row['quantity'] }}</strong>
                                </div>
                                <div class="widget-rowline">
                                    <p>Maliyet*</p>
                                    <strong>{{ row['wa_buy_price'] }} TL</strong>
                                </div>
                                <div class="widget-rowline">
                                    <p>Son İşlem Fiyatı</p>
                                    <strong>{{ row['curr_price'] }} TL</strong>
                                </div>
                            </div>
                            <div>
                                <p style="text-align: left; margin-top: 5px;">Pozisyon Süresi:
                                    <strong>{{ row['days_passed'] }} Gün </strong>
                                    <a style="margin-left: 4px;">({{ row['from_this_time']}})</a>
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <p>Tabloda veri bulunmamaktadır.</p>
                {% endif %}

                <br><br><br>
                <!-- Fon Tablosu-->
                <div class="dashboard-container-header">
                    <h2>Yatırım Fonu</h2>
                </div>
                <div class="widget-top">
                    <div class="total-portfolio">
                        <h3>{{ "{:,.2f}".format(fundsTotalValues[1]|round(2)) }} TL</h3>
                        <p style="margin-top: 5px;">Ana Para: <strong>{{  "{:,.2f}".format(fundsTotalValues[0]|round(2)) }} TL</strong></p>
                        <p class="change" style="margin-top: 5px;"><i class="{{ 'fas fa-arrow-down !important' if stockTotalValues[2]|float < 0 else 'fas fa-arrow-up' }}"></i> {{ fundsTotalValues[2] }}%</p>
                    </div>
                    <div class="card-body">
                        {{ pieChart2|safe }}
                    </div>
                </div>
                {% if table_data2 %}
                <div class="widget-container">
                    {% for row in table_data2 %}
                    <div class="widget">
                        <div class="widget-header-fund">
                            <div style="display: flex; align-items: center;">
                                <h3>{{ row['symbol'] }}</h3>
                            </div>
                        </div>
                        <h3 style="text-align: right" >{{ "{:,.2f}".format(((row['curr_price']|float * row['quantity']|float))|round(2)) }} TL</h3>
                        <div class="widget-body">
                            <div class="widget-rowline">
                                <p style="font-weight: bold; color: #4c90af; left: 0">
                                    {{ (((row['curr_price']|float * row['quantity']|float) / fundsTotalValues[1]|float) * 100) | round(2) }}%
                                </p>
                            </div>
                            <div class="widget-rowline">
                                <p class="{{ 'text-red' if row['ratio']|float < 0 else 'text-green' }}">
                                    <strong  class="{{ 'text-red' if row['ratio']|float < 0 else 'text-green' }}"><i class="{{ 'fas fa-arrow-down !important' if row['ratio']|float < 0 else 'fas fa-arrow-up' }}"></i> {{ row['ratio'] }}%</strong> ({{ "{:,.2f}".format(row['profit']|float) }} TL)
                                </p>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="progress-bar">
                                <div class="progress" style="width: {{ (((row['curr_price']|float * row['quantity']|float) / fundsTotalValues[1]|float) * 100) | round(2) }}%;"></div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-rowline">
                                <p>Satılabilir Adet</p>
                                <strong>{{ row['quantity'] }}</strong>
                            </div>
                            <div class="widget-rowline">
                                <p>Maliyet*</p>
                                <strong>{{ row['buy_price'] }} TL</strong>
                            </div>
                            <div class="widget-rowline">
                                <p>Son İşlem Fiyatı</p>
                                <strong>{{ row['curr_price'] }} TL</strong>
                            </div>
                        </div>
                        <div>
                            <p style="text-align: left; margin-top: 5px;">Pozisyon Süresi:
                                <strong>{{ row['days_passed'] }} Gün </strong>
                                <a style="margin-left: 4px;">({{ row['buy_date_user']}})</a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>Tabloda veri bulunmamaktadır.</p>
                {% endif %}
            </section>


        </section>
    </div>
        <div class="chart">
            <p class="info">Portföy değeri net olarak hesaplanmıştır.</p>
        </div>
    <script>
        $(document).ready(function () {
            var pageUrl = window.location.href;
            const urlList = pageUrl.split("/");
            var date = urlList[urlList.length-1].split("#")[0];
            console.error(date);
            document.getElementById(date).classList.add("active");
            var lastColumnIndex = $('#data-table').find('th').length - 1;
            $('#data-table').DataTable({
                paging: false,
                scrollY: '400px',
                searching: true,
                info: true,
                pageLength: 10,
                lengthMenu: [5, 10, 25, 50, 100],
                ordering: true,
                order: [[lastColumnIndex, 'des']],
                language: {
                    info: "_TOTAL_ veri gösteriliyor",
                    search: "Ara:",
                    lengthMenu: "Display _MENU_ records per page"
                }
            });

            $('#new-data-table').DataTable({
                paging: false,
                scrollY: '400px',
                searching: true,
                info: true,
                pageLength: 10,
                lengthMenu: [5, 10, 25, 50, 100],
                ordering: true,
                language: {
                    info: "_TOTAL_ veri gösteriliyor",
                    search: "Ara:",
                    lengthMenu: "Display _MENU_ records per page"
                }
            });
        });
    </script>
</body>
</html>
